.pageRoot {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.barChart {
  height: 1000px;
}

.graphContainer {
  height: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settingsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  padding-right: 20px;
  align-self: flex-end;
  background-color: #1D1D1D;
  margin: 20px;
}

.graphCheckboxText {
  margin-left: 10px;
}

.sortContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: #1D1D1D;
  align-self: flex-end;
  margin: 20px;
  padding-right: 20px;
}
