.playlistRoot {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.contentDiv {
  margin-left: 75px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-y: scroll;
  background-color: #141414;
}

.pageHeader {
  background: #141414;
  border-bottom: 3px solid #1f1f1f;
}
