.sidebarRoot {
  background-color: #1D1D1D;
  height: 100%;
  /* transform: translateX(0px); */
  transition: width 0.25s;
  display: flex;
  flex-direction: column;
  width: 75px;
  position: absolute;
  z-index: 1;
}

.sidebarOpen {
  width: 200px;
  position: absolute;
  z-index: 1;
}

.sidebarMenu {
  width: 100%;
  height: 100%;
}

.sidebarOpenCloseButton {
  position: relative;
  background-color:#1D1D1D;
  border: 1px solid #141414;
  left: calc(100% - 10px);
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.sidebarTitle {
  color: #141414;
}

.userInfoCard {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #1f1f1f;
}

.userIcon {
  font-size: 50px;
  margin: 5px;
}

.profileImage {
  max-height: 53px;
  border-radius: 5px;
}

.profileText {
  font-size: 1.5em;
  margin-left: 15px;
}
